@import url("https://fonts.googleapis.com/css2?family=Atomic+Age&family=Audiowide&family=Exo:ital,wght@0,100..900;1,100..900&family=Londrina+Shadow&family=Shrikhand&family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Exo", serif;
  overflow-x: hidden;
}

button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

#main {
  background-image: url("https://images.unsplash.com/photo-1734531352620-17594746bb46?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 18px 20px;
}

nav h2 {
  font-size: 25px;
}

#menu-bar {
  position: absolute;
  right: -50%;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.362);
  text-align: end;
  padding: 18px 20px 18px 100px;
  backdrop-filter: blur(7px);
}

#menu-bar button {
  color: #000;
}

#menu-bar ul {
  list-style: none;
  text-align: start;
  margin-top: 50px;
}

#menu-bar li {
  font-size: 55px;
  font-weight: 500;
  padding: 2px 0;
}
